<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Elogic\Directory\Api\Data\CityInterface" type="Elogic\Directory\Model\City"/>
    <preference for="Elogic\Directory\Api\Data\CitySearchResultsInterface" type="Elogic\Directory\Model\CitySearchResults"/>
    <preference for="Elogic\Directory\Api\CityRepositoryInterface" type="Elogic\Directory\Model\CityRepository"/>
    <preference for="Elogic\Directory\Api\CityAcquirerInterface" type="Elogic\Directory\Model\ResourceModel\CityResource"/>
    <preference for="Elogic\Directory\Api\ClientInterface" type="Elogic\Directory\Model\GeoClient"/>

    <type name="Magento\ImportExport\Model\Import\SampleFileProvider">
        <arguments>
            <argument name="samples" xsi:type="array">
                <item name="city" xsi:type="string">Elogic_Directory</item>
            </argument>
        </arguments>
    </type>

</config>
