<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Elogic\Certificate\Api\Data\SubjectInterface" type="Elogic\Certificate\Model\Subject"/>
    <preference for="Elogic\Certificate\Api\SubjectRepositoryInterface" type="Elogic\Certificate\Model\SubjectRepository"/>
    <preference for="Elogic\Certificate\Api\Data\TypeInterface" type="Elogic\Certificate\Model\Type"/>
    <preference for="Elogic\Certificate\Api\TypeRepositoryInterface" type="Elogic\Certificate\Model\TypeRepository"/>
</config>
